html, body {
    height: 100%;
}
  
body {
    background-color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-width: 320px;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    margin: 0;
}

main {
    flex: 1 0 0;
}

.container {
    min-width: 320px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    width: 100vw;
}

.header__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    position: relative;
}

.basket {
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    color: aliceblue;
    /* height: 100%; */
    width: 200px;
    padding: 10px;
    transition: all cubic-bezier(0.39, 0.575, 0.565, 1) .3s;
    z-index: 10;
}

.basket:hover {
    position: fixed;
    top: 0;
    right: 0;
    width: 500px;
    height: 100%;
}

.basket__list {
    display: none;
}

.basket:hover .basket__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    z-index: 15;
}

.basket__product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 150px;
    background-color: white;
    color: black;
    margin-bottom: 20px;
    padding: 10px;
}

.basket__count {
    display: flex;
    align-items: center;
}

.basket__btns {
    display: flex;
    justify-content: space-between;
}

.products {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: -20px;
}

/* .products:last-child {
    align-items: flex-end;
} */

.product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    margin: 0 10px 20px;
    border: 1px solid seagreen;
    width: calc(900px / 3);
    height: 200px;
    position: relative;
}

.product__delete {
    position: absolute;
    top: 10px;
    right: 10px;
}